.oms {
  height: 100%;
  background: #ecebeb;
  .oms-container {
    height: 100%;
    background: #fff;
    max-width: 1920px;
    margin:0 auto;
    position: relative;
    .oms-left {
      float:left;
      height: 100%;
      background: rgb(64,64,64);
      position: absolute;
      left: 0;
      top:0;
      &.menuopen {
        width: 200px;
      }
      &.menuclose {
        width: 64px;
      }
      .oms-sider {
        
        height:100%;
        .sider_container {
          height: 100%;
          position: relative;
          .submenu {
           
          }
          .btn-togglemenu {
            position: absolute;
            background: transparent;
            border: none;
            color:#fff;
            font-size: 18px;
            bottom:1%;
            left: 50%;
            transform: translateX(-50%);
            outline: none;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
    .oms-right {
      background: #ecebeb;
      .oms-header {
        
      }

    }
  }
}