<div class="oms">
  <div class="oms-container">
    <div class="oms-left {{menuclass}}">
      <div class="oms-logo"></div>
      <div class="oms-sider">
        <div class="sider_container">
          <button (click)="toggleCollapsed()" class="btn-togglemenu">
            <i class="anticon" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed">
            </i>
          </button>
          <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item class="submenu">
              <span title>
                <i class="anticon anticon-mail"></i>
                <span>Navigation One</span>
              </span>
            </li>
            <li nz-submenu class="submenu">
              <span title>
                <i class="anticon anticon-appstore"></i>
                <span>Navigation Two</span>
              </span>
              <ul>
                <li nz-menu-item>Option 5</li>
                <li nz-menu-item>Option 6</li>
                <li nz-submenu>
                  <span title>Submenu</span>
                  <ul>
                    <li nz-menu-item>Option 7</li>
                    <li nz-menu-item>Option 8</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li nz-submenu class="submenu">
              <span title>
                <i class="anticon anticon-setting"></i>
                <span>Navigation Three</span>
              </span>
              <ul>
                <li nz-menu-item>Option 10</li>
                <li nz-menu-item>Option 10</li>
                <li nz-menu-item>Option 11</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="oms-right">
      <div class="oms-header">
        <button (click)="hahaha()">hahah</button>
      </div>
      <div class="oms-main"></div>
      <div class="oms-footer"></div>
    </div>
  </div>
</div>