<div class="oms">
  <div class="oms-container">
    <div class="oms-left {{menuclass}}">

      <div class="oms-sider">
        <div class="sider_container">
          <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu class="submenu">
              <span title>
                <i class="anticon anticon-appstore"></i>
                <span>example</span>
              </span>
              <ul>
                <li nz-menu-item>
                  <a href="#" routerLink="/sayhollo" routerLinkActive="active">sayhollo</a>
                </li>
                <li nz-menu-item>
                  <a routerLink="/showcase" routerLinkActive="active">showcase</a>
                </li>
                <li nz-menu-item>
                  <a routerLink="/todomvc" routerLinkActive="active">todomvc</a>
                </li>
              </ul>
            </li>
            <li nz-submenu class="submenu">
              <span title>
                <i class="anticon anticon-setting"></i>
                <span>Navigation Three</span>
              </span>
              <ul>
                <li nz-menu-item>Option 10</li>
                <li nz-menu-item>Option 10</li>
                <li nz-menu-item>Option 11</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="oms-right">
      <div class="oms-header">
        <div class="oms-logo">
          <button (click)="toggleCollapsed()" class="btn-togglemenu">
            <i class="anticon" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed">
            </i>
          </button>
          <h1>大袜网OMS</h1>
        </div>
      </div>
      <div class="oms-main  {{menuclass}}">
        <div class="oms-nav">
        </div>
        <div class="oms-center">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>